<!DOCTYPE html>
<html>

<head>
    <title>Documento importación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">


</head>

<body>
    <ul>
        <li class="dropdownn">
            <a href="javascript:void(0)" class="dropbtn">Guia Master</a>
            <div class="dropdownn-content">
                <a routerLink="/guiaMaster">GuiaMaster</a>
                <a routerLink="/manifiestoAduanas">Manifiesto Aduanas</a>
            </div>
        </li>
        <li class="dropdownn">
            <a href="javascript:void(0)" class="dropbtn">Documento Importar</a>
            <div class="dropdownn-content">
                <a routerLink="/documentoImportacion">Documento Importacion</a>
            </div>
        </li>
        <li class="dropdownn">
            <a href="javascript:void(0)" class="dropbtn">Impresion Etiqueta</a>
            <div class="dropdownn-content">
                <a routerLink="/impresionEtiqueta">Impresion Etiqueta</a>
            </div>
        </li>
        <li class="dropdownn">
            <a href="javascript:void(0)" class="dropbtn">Facturación</a>
            <div class="dropdownn-content">
                <a routerLink="/facturacion">Facturación</a>
            </div>
        </li>
        <li class="dropdownn">
            <a href="javascript:void(0)" class="dropbtn">Reportes</a>
            <div class="dropdownn-content">
                <a routerLink="/reporteDiscrepancias">Reporte Discrepancias</a>
            </div>
        </li>

    </ul>
    <router-outlet></router-outlet>

        
</body>

</html>