<ul > 
    <li class="dropdown">
        <a  href="javascript:void(0)" class="dropbtn">Guia Master</a>
        <div class="dropdown-content">
            <a routerLink="/guiaMaster">GuiaMaster</a>
            <a routerLink="/manifiestoAduanas">Manifiesto Aduanas</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Documento Importar</a>
        <div class="dropdown-content">
            <a routerLink="/documentoImportacion">Documento Importacion</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Impresion Etiqueta</a>
        <div class="dropdown-content">
            <a routerLink="/impresionEtiqueta">Impresion Etiqueta</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Facturación</a>
        <div class="dropdown-content">
            <a routerLink="/facturacion">Facturación</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Reportes</a>
        <div class="dropdown-content">
            <a routerLink="/reporteDiscrepancias">Reporte Discrepancias</a>
        </div>
    </li>

</ul>
<router-outlet></router-outlet>