<html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">


</head>

<body>
  <div class="container">




    <form (submit)="loginUser($event)" class="form-horizontal frmLogin">
      <div align="center" class="contenido ">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Avianca_Logo.svg/1280px-Avianca_Logo.svg.png"
          alt="Smiley face" class="imgLogin">
        <br>

        <div *ngIf="mostrarMensajeError">
          <div class="alert alert-danger alertMsg" role="alert">
            {{mensajeAlerta}}
          </div>
        </div>

        <br>
        <input type="text" placeholder="Usuario" id="username" autofocus class="form-control input-md txtUser" >
        
        <input type="password" placeholder="Contraseña" id="password" class="form-control input-md txtPass" >
        
        <br>
        <input type="submit" value="Aceptar" class="btn btn-danger btnAceptar">

      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>