
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #da291c;
    width: 700px;

    padding:2px;
   cursor:pointer;
   display:block;
   margin: 0 auto;
}

li {
    float: left;
    
}

li a, .dropbtn {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdownn:hover .dropbtn {
    background-color: #CFCFCF;
    color: #000000;
}

li.dropdownn {
    display: inline-block;
}

.dropdownn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownn-content a:hover {background-color: #f1f1f1}

.dropdownn:hover .dropdownn-content {
    display: block;
}


/**/
.contenerdor {
    padding-top: 2%;
}

form {
    padding: 2px;
    cursor: pointer;
    display: block;
    width: 650px;
    margin: 0 auto;
}
.btnBuscar {
    padding: 2px;
    cursor: pointer;
    display: block;
    width: 300px;
    ;
    margin: 0 auto;
    text-align: center;
}